body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

.jimy-joseph {
  color: orange;
}

.box-color {
  color: rgba(72, 20, 1, 0.741);
}

.new-color {
  color: rgba(50, 44, 41, 0.904);
}

p {
  font-size: 18px;
  color: rgba(74, 72, 72, 0.755);
  text-align: justify;
}

.flexible-container {
  display: flex;
  margin-bottom: 150px;
}

.half-width {
  width: 50%;
  padding-left: 5%;
}

.half-width img {
  width: 90%;
}

.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  color: white;
  font-weight: 700;
  font-size: 18px;
  padding: 10px 40px;
  border-radius: 5px;
}

.top-banner {
  background-image: url(/images/top-banner.png);
  background-repeat: no-repeat;
}

.dream-big {
  background-image: url(/images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-color: rgba(87, 140, 140, 0.721);
  background-size: 100px;
  padding-right: 100px;
}

.Experience-item {
  width: 40%;
  margin: 5% 5%;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8px;
  box-shadow: 10px 10px 30px gray;
  background-color: rgba(87, 140, 140, 0.721);
  border-left: solid black;
}

.Experience-area {
  background-image: url(/images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 90px;
}

#web-developer-experience {
  border-left: 7px solid;
  border-image: linear-gradient(
    rgba(206, 175, 116, 0.802),
    rgba(177, 104, 91, 0.755)
  );
  border-image-slice: 2;
}

#web-king {
  border-left: 7px solid;
  border-image: linear-gradient(
    rgba(71, 54, 37, 0.7),
    rgba(89, 89, 164, 0.714)
  );
  border-image-slice: 1;
}

footer p {
  text-align: center;
}
